:root {
  --primary-color: #ef5b59;
  --secondary-color: #f4f7fe;
  --mustard-color: #f1c40f;
  --dark-red-color: #de4a46;
  --purple-color: #20014d;
  --dark-color: #343a40;
  --text-color: #757575;
  --text-dark-color: #343a40;
  --light-text-color: #ffffff;
  --heading-color: #343a40;
  --bg-color: #ffffff;
  --transition-main: all 0.2s ease-in-out;
  --box-shadow-normal: 0px 4px 6px -1px rgba(0, 0, 0, 0.25);
  --box-shadow-dark: 0px 10px 15px -3px rgba(0, 0, 0, 0.25);
}

.dark-theme {
  --text-color: #f4f7fe;
  --text-dark-color: #f4f7fe;
  --heading-color: #f4f7fe;
  --bg-color: #343a40;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background: var(--bg-color);
}

*:focus {
  outline: none;
}

/**
* * Grid Styles
*/
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.col {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
}

/**
* * Buttons Styles
*/
.btn {
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  cursor: pointer;
  font-weight: 500;
}

.btn-big {
  padding: 0.75rem 3rem;
}

.btn-primary {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  color: var(--light-text-color);
  -webkit-transition: var(--transition-main);
  transition: var(--transition-main);
}

.btn-primary:hover {
  background-color: var(--dark-red-color);
}

.btn-outline {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  color: var(--primary-color);
  -webkit-transition: var(--transition-main);
  transition: var(--transition-main);
}

.btn-outline:hover {
  background-color: var(--primary-color);
  color: var(--light-text-color);
}

/**
* * Rounded Switch Styles
*/
.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--purple-color);
  -webkit-transition: var(--transition-main);
  transition: var(--transition-main);
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: var(--mustard-color);
  -webkit-transition: var(--transition-main);
  transition: var(--transition-main);
}

input:checked + .slider:before {
  -webkit-transform: translateX(34px);
  transform: translateX(34px);
}

input:checked + .slider {
  background-color: var(--primary-color);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.borderless {
  border: none;
}

/**
 * * Dropdown style
 */
.dropdown {
  cursor: pointer;
  position: relative;
}

.dropdown .dropdown-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  line-height: 120%;
  padding: 0.75rem;
  color: var(--text-dark-color);
}

.dropdown .dropdown-button svg {
  margin-left: 0.5rem;
}

.dropdown .dropdown-button svg path {
  fill: var(--text-dark-color);
}

.dropdown .dropdown-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 2.5rem;
  left: 0.7rem;
  display: none;
  background-color: var(--bg-color);
  -webkit-box-shadow: var(--box-shadow-normal);
          box-shadow: var(--box-shadow-normal);
  width: 7.5rem;
  border-radius: 8px;
}

.dropdown .dropdown-menu li {
  padding: 0.25rem;
  -webkit-transition: var(--transition-main);
  transition: var(--transition-main);
}

.dropdown .dropdown-menu li:hover a {
  color: var(--primary-color);
}

.dropdown .dropdown-menu li a {
  text-decoration: none;
  color: var(--text-dark-color);
  font-size: 1rem;
}

.dropdown.closed .dropdown-menu {
  display: block;
}

/**
 * * Top Button style
 */
#topButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  cursor: pointer;
  padding: 11px 14px 13px 14px;
  border-radius: 32px;
  -webkit-transition: var(--transition-main);
  transition: var(--transition-main);
}

#topButton:hover {
  background-color: var(--dark-red-color);
}

/**
* * Text and Heading Styles
*/
h1 {
  font-size: 2.5rem;
  color: var(--heading-color);
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 100%;
}

h2 {
  font-size: 2rem;
  color: var(--heading-color);
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 100%;
}

h3 {
  font-size: 1.75rem;
  color: var(--heading-color);
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 100%;
}

h4 {
  font-size: 1.25rem;
  color: var(--heading-color);
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 100%;
}

h5 {
  font-size: 1rem;
  color: var(--heading-color);
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 100%;
}

h6 {
  font-size: 0.75rem;
  color: var(--heading-color);
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 100%;
}

.text-large {
  font-size: 1.25rem;
  color: var(--text-color);
  line-height: 120%;
}

.text-medium {
  font-size: 1rem;
  color: var(--text-color);
  line-height: 120%;
}

.text-small {
  font-size: 0.75rem;
  color: var(--text-color);
  line-height: 120%;
}

/**
* * Form Input
*/
.form-input {
  display: block;
  width: 100%;
  border: 1px solid var(--dark-color);
  border-radius: 4px;
  background-color: #ffffff;
  padding: 0.625rem 0.5rem;
  -webkit-transition: var(--transition-main);
  transition: var(--transition-main);
}

.homepage-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.header-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 960px;
  max-width: 100%;
  margin: auto;
}

/**
* * Navbar Style General
*/
.nav {
  height: 76px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.5rem;
}

.nav .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav-right .btn-outline,
.nav .nav-right .switch {
  margin-left: 4.25rem;
}

.nav-header {
  display: inline;
}

.nav-header .nav-logo {
  display: inline-block;
}

.nav-header .nav-logo img {
  height: 3.2rem;
  width: 3rem;
}

.nav-btn {
  display: none;
}

.nav-links {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links a {
  padding: 0.75rem;
  text-decoration: none;
  color: var(--text-dark-color);
  -webkit-transition: var(--transition-main);
  transition: var(--transition-main);
}

.nav-links a:hover {
  color: var(--primary-color);
}

.nav-links .contact-link {
  display: none;
}

.nav #nav-check {
  display: none;
}

.dark-theme .nav .btn-outline {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--light-text-color);
}

.dark-theme .nav .btn-outline:hover {
  background: var(--dark-red-color);
}

/**
  * * top content styles
  */
.top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0;
}

.top-content .image-side {
  width: 58%;
}

.top-content .image-side img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-content .text-side {
  width: 34%;
}

.top-content .text-side span {
  font-size: 1.25rem;
  color: var(--text-color);
  line-height: 120%;
  display: block;
  margin-bottom: 1rem;
}

.secondary-container {
  background-color: var(--secondary-color);
  width: 100%;
}

.dark-theme .secondary-container {
  background-color: var(--dark-red-color);
}

.dark-theme .subscribe-content svg path {
  stroke: var(--light-text-color);
}

.dark-theme .subscribe-content .btn {
  background-color: var(--dark-color);
  border: 1px solid var(--dark-color);
}

.dark-theme .subscribe-content .btn:hover {
  background-color: var(--dark-color);
}

.subscribe-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px 0;
  width: 25rem;
  margin: 0 auto;
  text-align: center;
}

.subscribe-content h2 {
  margin-bottom: 0.75rem;
}

.subscribe-content span {
  color: var(--text-color);
  display: block;
  margin-bottom: 0.75rem;
}

.subscribe-content .input-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.subscribe-content .input-row .btn {
  margin-left: 1rem;
}

.subscribe-content i {
  font-size: 0.75rem;
  color: var(--heading-color);
}

.projects-content {
  padding: 80px 0;
}

.projects-content h2 {
  text-align: center;
}

.projects-content .project-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

.projects-content .project-row .image-side {
  width: 50%;
}

.projects-content .project-row .image-side img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects-content .project-row .text-side {
  width: 34%;
}

.projects-content .project-row .text-side span {
  color: var(--text-color);
  line-height: 150%;
}

.brands-container {
  background-color: var(--purple-color);
  width: 100%;
}

.brands-container .brands-content {
  width: 960px;
  max-width: 100%;
  margin: auto;
  text-align: center;
  padding: 2rem 0;
}

.brands-container .brands-content h2 {
  color: var(--light-text-color);
}

.brands-container .brands-content span {
  color: var(--light-text-color);
}

.brands-container .brands-content .brands-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.comment-content {
  padding: 80px 0;
}

.comment-content-head {
  text-align: center;
}

.comment-content-head h2 {
  margin-bottom: 1.5rem;
}

.comment-content-head span {
  display: block;
  width: 40%;
  margin: auto;
  font-size: 1.25rem;
  color: var(--text-color);
}

.comment-content .comment-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 3.5rem;
}

.comment-content .comment-list-item {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  margin: 0 0.5rem;
}

.comment-content .comment-list-item:first-of-type {
  margin-left: 0;
}

.comment-content .comment-list-item:last-of-type {
  margin-right: 0;
}

.comment-content .comment-list-item .comment-card {
  background: #ffffff;
  -webkit-box-shadow: var(--box-shadow-dark);
          box-shadow: var(--box-shadow-dark);
  border-radius: 8px;
  padding: 1rem 0.75rem;
  margin-bottom: 1.5rem;
  height: 6rem;
}

.comment-content .comment-list-item .comment-card span {
  color: #757575;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-style: italic;
}

.comment-content .comment-list-item .comment-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment-content .comment-list-item .comment-information img {
  height: 100px;
  width: 100px;
  margin-right: 0.75rem;
}

.comment-content .comment-list-item .comment-information-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment-content .comment-list-item .comment-information-text b {
  color: var(--heading-color);
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.comment-content .comment-list-item .comment-information-text span {
  color: var(--text-color);
}

.pricing-content {
  max-width: 960px;
  margin: 0 auto;
  padding: 80px 1.5rem;
}

.pricing-content-head {
  text-align: center;
  margin-bottom: 3rem;
}

.pricing-content-head span {
  color: var(--text-color);
}

.pricing-content .price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.pricing-content .price-list-item {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  margin: 0 0.5rem;
  text-align: center;
  padding: 2rem 0;
  color: var(--light-text-color);
}

.pricing-content .price-list-item:first-of-type {
  margin-left: 0;
}

.pricing-content .price-list-item:last-of-type {
  margin-right: 0;
}

.pricing-content .price-list-item h3 {
  color: var(--light-text-color);
}

.pricing-content .price-list-item .price {
  margin: 2rem 0;
}

.pricing-content .price-list-item .price .currency {
  font-size: 1.25rem;
  vertical-align: top;
}

.pricing-content .price-list-item .price .price-text {
  font-size: 80px;
  line-height: 80px;
}

.pricing-content .price-list-item .price .price-date {
  font-size: 1.25rem;
}

.pricing-content .price-list-item .btn-price {
  margin-top: 2rem;
  background: #ffffff;
  border-color: #ffffff;
  color: var(--primary-color);
}

.pricing-content .price-list .yellow {
  background: var(--mustard-color);
}

.pricing-content .price-list .red {
  background: var(--primary-color);
}

.pricing-content .price-list .purple {
  background: var(--purple-color);
}

.footer-section {
  position: relative;
  width: 960px;
  max-width: 100%;
  margin: auto;
  padding: 80px 0 2rem;
}

.footer-section .footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.footer-section .footer-main .footer-group {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  margin: 0 2.25rem;
}

.footer-section .footer-main .footer-group:first-of-type {
  margin-left: 0;
}

.footer-section .footer-main .footer-group:last-of-type {
  margin-right: 0;
}

.footer-section .footer-main .footer-group-items a {
  font-size: 0.75rem;
  text-decoration: none;
  color: var(--text-color);
  -webkit-transition: var(--transition-main);
  transition: var(--transition-main);
  margin-right: 0.5rem;
}

.footer-section .footer-main .footer-group-items a:hover {
  color: var(--heading-color);
}

.footer-section .footer-main .footer-group-items a svg {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  -webkit-transition: var(--transition-main);
  transition: var(--transition-main);
}

.footer-section .footer-main .footer-group-items a svg path {
  fill: var(--text-color);
}

.footer-section .footer-main .footer-group-items a svg:hover path {
  fill: var(--heading-color);
}

.footer-section .footer-main .footer-group .footer-about-us {
  font-size: 0.75rem;
  color: var(--text-color);
}

.footer-section .footer-copyright {
  text-align: center;
  margin: 1rem auto 0;
  color: var(--heading-color);
  font-size: 0.75rem;
}

.dark-theme .footer-section a:hover {
  color: var(--primary-color) !important;
}

.dark-theme .footer-section svg:hover path {
  fill: var(--primary-color) !important;
}

@media (max-width: 768px) {
  /**
  * * Navbar Style Responsive
  */
  .nav .nav-right .btn-outline {
    display: none;
  }
  .nav .nav-right .switch {
    margin-right: 2rem;
  }
  .nav-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-btn label {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 13px;
  }
  .nav-btn label span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid var(--text-dark-color);
  }
  .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background: var(--bg-color);
    height: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow-y: hidden;
    top: 76px;
    left: 0px;
  }
  .nav-links a {
    display: block;
    width: 100%;
  }
  .nav-links .contact-link {
    display: block;
  }
  .nav-right > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav-right > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 76px);
    overflow-y: auto;
  }
  /**
  * * top content responsive
  */
  .top-content {
    padding: 80px 0;
  }
  .top-content .image-side {
    width: 45%;
  }
  .top-content .text-side {
    width: 45%;
  }
  .top-content .text-side h1 {
    font-size: 2rem;
  }
  .top-content .text-side span {
    font-size: 1rem;
    line-height: 150%;
  }
  .comment-content {
    padding: 60px 0;
  }
  .comment-content .comment-content-head span {
    width: 90%;
  }
  .comment-content .comment-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
  .comment-content .comment-list-item {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    margin: 1.5rem 0;
  }
  .pricing-content {
    padding: 60px 0;
  }
  .pricing-content .price-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
  .pricing-content .price-list-item {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    margin: 1.5rem 0;
  }
  .footer-section {
    position: relative;
    width: 320px;
  }
  .footer-section .footer-main .footer-group {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 45%;
    margin: 0 0.7rem 3rem;
  }
  .footer-section .footer-main .footer-group:nth-child(even) {
    margin-right: 0;
  }
  .footer-section .footer-main .footer-group:nth-child(odd) {
    margin-left: 0;
  }
  .footer-section .footer-main .footer-group:nth-child(3), .footer-section .footer-main .footer-group:nth-child(4) {
    margin-bottom: 0;
  }
  .dropdown .dropdown-menu {
    position: relative;
    top: unset;
    left: unset;
    display: none;
    -webkit-box-shadow: unset;
            box-shadow: unset;
    width: 100%;
  }
  .dropdown .dropdown-menu li {
    padding: 0.25rem 1rem;
  }
}

@media (max-width: 426px) {
  .top-content {
    padding: 24px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top-content .image-side {
    width: 50%;
    margin-bottom: 1.5rem;
  }
  .top-content .text-side {
    width: 100%;
  }
  .top-content .text-side h1 {
    font-size: 2rem;
  }
  .top-content .text-side span {
    font-size: 1rem;
    line-height: 150%;
  }
  .subscribe-content {
    padding: 48px 0;
    width: 90%;
  }
  .subscribe-content h2 {
    font-size: 1.75rem;
    margin-bottom: 0.6rem;
  }
  .subscribe-content span {
    font-size: 0.75rem;
  }
  .subscribe-content .input-row {
    margin-bottom: 0.75rem;
  }
  .projects-content {
    padding: 48px 0;
  }
  .projects-content h2 {
    font-size: 1.75rem;
    margin-bottom: 0.6rem;
  }
  .projects-content .project-row {
    padding: 32px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects-content .project-row .image-side {
    margin-bottom: 1.5rem;
  }
  .projects-content .project-row .text-side {
    width: 100%;
  }
  .projects-content .project-row .text-side h3 {
    text-align: center;
  }
  .projects-content .project-row-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .brands-container .brands-content h2 {
    font-size: 1.75rem;
  }
  .brands-container .brands-content span {
    font-size: 0.75rem;
  }
  .brands-container .brands-content .brands-logos svg {
    width: 3.2rem;
    height: 2.6rem;
  }
  .comment-content .comment-list {
    width: 95%;
  }
  .pricing-content-head {
    margin-bottom: 1rem;
  }
  .pricing-content .price-list {
    width: 80%;
  }
}
/*# sourceMappingURL=index.css.map */